body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(wallpaper.jpg);
    min-height: 100vh;
}

.encabezado-principal{
    box-shadow: 0 0 10px 5px rgb(97, 97, 97);
}
h1 {
    margin: 0;
    font-size: 40px;
    font-family: sans-serif;
    color: rgb(0, 187, 140);
}

h2 {
    margin: 0;
    font-size: 30px;
    font-family: sans-serif;
    color: #000000;
}

.fa-solid{
    color: #ffffff;
    font-size: 60px;
}
.fa-solid:hover{
    color: rgb(0, 187, 140);
}

.foto-perfil {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #ffffff;
}
.foto-perfil:hover {
    border-color: rgb(0, 187, 140);
}

section {
    margin: 0;
    min-height: 15vh;
    box-shadow: 0 15px 15px 2px rgb(151, 150, 150);
}

.clasificacion {
    font-size: 20px;
    text-align: left;
    color: #ffffff;
    font-family: sans-serif;
    border: none;
    background: transparent;
    margin-top: 5%;
}
.clasificacion:hover {
    color: rgb(0, 187, 140);
}


.card {
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.card-title {
    font-size: 1.5em;
    margin-top: 10px;
}
#carrito {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Espacio entre las tarjetas /
}

#carrito .card {
    flex: 1 1 calc(33.333% - 30px); / Ajusta el porcentaje según la cantidad de columnas deseadas */
    box-sizing: border-box;
}

  /* Estilos responsive */
@media (max-width: 768px) {
.foto-perfil {
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
}

.fa-solid{
    font-size: 30px;
}


section {
    padding: 10px;
    text-align: center;
    margin-bottom: 2%;
}

section button {
    margin: 5px 0;
}
} 
@media (max-width: 768px) {
    section {
        flex-direction: row; 
        justify-content: space-around; 
        
        text-align: center;
    }

    section button {
        margin: 5px;
        flex: none; 
    }
}




/*LOGIN */
.login-body {
    background-color: #f8f9fa; /* Background color light grey */
}

.login-header {
    background-color: #333;
    color: #fff;
}

.enlaces{
    color: #ffffff;
    font-family: sans-serif;
    margin: 8px;
    font-style: italic;
    font-size: 1em;
}
.enlaces:hover{
    color: rgb(0, 187, 140);
}

.login-nav {
    background-color: #6c757d;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 60px; /* Ajuste para evitar que sea demasiado alta */
    width: 100%; /* Asegura que ocupe todo el ancho pero no más */
    max-width: 100%; /* Evita que se extienda más allá del contenedor */
    box-sizing: border-box; /* Incluye padding en el cálculo de la altura y el ancho */
}
.login-container {
    max-width: 400px;
    width: 100%;
}
.login-header {
    text-align: center;
}
.login-form-group label {
    font-weight: bold;
}
.login-input {
    border-radius: 10px;
    padding: 10px;
}

.enviar{
    background-color: rgb(0, 187, 140);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 2%;
    margin-top: 5%;
}
.enviar:hover{
    background-color: rgb(1, 150, 112);
}

/* Estilos Responsive */
@media (max-width: 768px) {
    .login-header {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 2em;
    }

    .login-container {
        width: 90%;
    }

}
/* Estilos adicionales para asegurarse de que la barra sea compacta */
@media (max-width: 768px) {
    .login-nav {
        padding: 2px 0; /* Menor padding en pantallas pequeñas */
    }

    .enlaces {
        font-size: 0.9em; /* Tamaño de fuente más pequeño en pantallas pequeñas */
        padding: 4px 8px; /* Menor padding para los enlaces en pantallas pequeñas */
        margin: 0 3px; /* Menor espacio entre los enlaces */
    }
}

